@{

    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    var i = 1;
}
@using Framework.Web.Controls.MvcPager
@using Plain.Dto
@using Framework.Utility
@using EnumHelper = Framework.Extention.EnumHelper
@model Framework.Contract.PagedList<Plain.Model.Models.Model.Basic_Power>


<div class="row-fluid">
    <div class="span4">
        <div>
            <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i> 删除</a>
            <a class="btn blue thickbox" title='添加权限' href="@Url.Action("Create")?TB_iframe=true&height=350&width=500"><i class="icon-plus icon-white"></i> 新增</a>
            <a class="btn btn-primary" id="btnExecPower" href="javascript:;"><i class="icon-arrow-right icon-white"></i> 生成权限</a>
        </div>
    </div>
    <div class="span8">
        @using (Html.BeginForm(null, null, null, FormMethod.Get, new { id = "search" }))
        {
            <div class="dataTables_filter">
                <label>
                    <button type="submit" class="btn">搜索 <i class="icon-search"></i></button>
                </label>
                <label>
                    <span>权限名称：</span>
                    @Html.TextBox("PowerName", null, new { @class = "m-wrap small" })
                </label>

            </div>
        }
    </div>
</div>
<div class="alert">
    <button class="close" data-dismiss="alert"></button>
    <strong>系统权限：</strong>
  列表中为系统定义的权限
</div>


@using (Html.BeginForm("Delete", "Power", FormMethod.Post, new { id = "mainForm" }))
{
    <table class="table table-striped table-hover ">
        <tr>
            <th style="width: 8px;">
                <input type="checkbox" id="checkall" class="group-checkable" />
            </th>
            <th>序号</th>
            <th>权限名称</th>
            <th>权限状态 </th>
            <th>权限分组 </th>
            <th>拥有菜单  </th>
            <th>创建时间 </th>
            <th>操作 </th>

        </tr>
        @foreach (var power in Model)
        {
            <tr>
                <td><input type="checkbox" class="checkboxes" name='ids' value='@power.Id' /></td>
                <td>@(i++)</td>
                <td>@power.PoweName</td>
                <td>
                <span class="label label-@(power.PowerStatus == 1 ? "success" : "inverse")">@(power.PowerStatus == 1 ? "可用" : "禁用")
                    </span>
                </td>

                <td>@(EnumHelper.GetEnumTitleByValue<PowerGroup>(int.Parse(power.PowerGroup)))</td>
                <td>
                    @StringUtil.CutString(string.Join(",", power.Menus.Select(x => x.MenuName)), 40)
                <a class="btn mini primary  thickbox" title='添加权限' id="btnAddRole" href="@Url.Action("MenuList", "Power", new { id =power.Id })?TB_iframe=true&height=650&width=800">
                    <i class="icon icon-list-alt"></i>
                    添加
                </a>
            </td>
                <td>@power.CreateTime.ToString("yyyy-MM-dd")</td>
      
                <td>
                    <a class="btn mini purple thickbox" title='编辑' href="@Url.Action("Edit", new { id = power.Id })?TB_iframe=true&height=300&width=400">
                        <i class="icon-edit"></i>
                        编辑
                    </a>
                </td>
            </tr>
        }


    </table>

}
<div class="dataTables_paginate paging_bootstrap pagination">
    @Html.Pager(Model, new PagerOptions() { AutoHide = true, ShowTotalItemCount = true })
</div>
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $(function () {
            $("#btnExecPower").click(function () {
                App.blockUI();
                $.post('@Url.Action("ExecPower", "Power")', function (res) {
                    App.unblockUI();
                    if (!!res) {
                        alert(res);
                    }
                    else {
                        window.location.reload();
                    }
                }).error(function (e) {
                    App.unblockUI();
                    alert(e.responseText);
                });
            });
        });
    </script>
    
    }