@using Framework.Web
@model Plain.Model.Models.Model.Basic_Register

@{

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;IE=10;IE=9;IE=8;">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.StaticFile("~/Content/Plain/css/main.css")" />
    <link rel="stylesheet" href="@Url.StaticFile("~/Content/Plain/css/register.css")" />
    <link rel="stylesheet" href="@Url.StaticFile("~/Content/Plain/css/font-awesome.min.css")" />
    @RenderSection("PageSpecificStyleSheetIncludes", required: false)
</head>
<body class="bg">
    <div class="bg">
        <div class="header">

        </div>

        <div class="registerBox center">
            <div class="webInfo">@ViewBag.PageInfo</div>
            <ul class="r_tab">
                <li>@ViewBag.TabInfo</li>
            </ul>
            <div class="register clear">
                @RenderBody()
            </div>
        </div>
        <div class="flex limitfooter"></div>
    </div>
</body>
</html>
<script src='@Url.StaticFile("~/Content/plugins/jQuery/jQuery-2.1.4.min.js")'></script>
<script src='@Url.StaticFile("~/Scripts/jquery.validate.min.js")'></script>
<script src='@Url.StaticFile("~/Scripts/jquery.validate.unobtrusive.js")'></script>

@RenderSection("PageSpecificJavascriptIncludes", required: false)
