@using Core.Config
@using Framework.Web
<!DOCTYPE html>
<html>
<head>
    <title>@LocalCachedConfigContext.Current.SystemConfig.WebSiteTitle</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link rel="stylesheet" href="@Url.StaticFile("~/Content/Plain/css/main.css")" />
    <link rel="stylesheet" href="@Url.StaticFile("~/Content/Plain/css/register.css")" />
    <link rel="stylesheet" href="@Url.StaticFile("~/Content/Plain/css/font-awesome.min.css")" />
    @RenderSection("PageSpecificStyleSheetIncludes", required: false)
</head>
<body>
    <div class="container" id="container" style="display: none;">
        @Html.Partial("_Header")

        @RenderBody()

        @Html.Partial("_Footer")
    </div>
    <div id="mask" class="mask">
    </div>
</body>
</html>

<script type="text/javascript" src="@Url.StaticFile("~/Scripts/jquery-1.10.2.min.js")"></script>
<script type="text/javascript" src="@Url.StaticFile("~/Scripts/avalon.js")"></script>
<script src="@Url.StaticFile("~/Scripts/Cms/Index.js")"></script>
<script src="@Url.StaticFile("~/Scripts/Cms/ViewDetail.js")"></script>
@RenderSection("PageSpecificJavascriptIncludes", required: false)
<script>
    $(function () {
        home.init();
    });
</script>
