@model Framework.Contract.PagedList<Plain.Dto.Basic_MenuDto>
@using Framework.Web.Controls.MvcPager
@using Plain.Web
@{
    ViewBag.Title = "菜单管理";

    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">菜单管理</h3>
        <div class="box-tools">
            <div class="input-group" style="width: 150px;">
                <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th></th>
                <th>序号</th>
                <th>菜单名称</th>
                <th>菜单链接</th>
                <th>菜单类型</th>
                <th>排序</th>
                <th>父级菜单</th>
                <th>创建时间</th>
                <th>是否可用</th>
                <th>操作</th>
            </tr>
            @foreach (var menu in Model)
            {
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>1</td>
                    <td>@menu.MenuName</td>
                    <td>@menu.MenuUrl</td>
                    <td>@menu.MenuType</td>
                    <td>@menu.MenuSort</td>
                    <td>@menu.ParentMenuName</td>
                    <td>@(menu.CreateTime.HasValue ? menu.CreateTime.Value.ToString("yyyy-MM-dd") : "")</td>
                    <td>@(menu.MenuStatus ? "是" : "否")</td>
                    <td>
                        <a class="label label-warning thickbox" title='编辑' href="@Url.Action("Edit", new { id = menu.Id })?TB_iframe=true&height=450&width=500">
                            <i class="fa fa-edit"></i>
                            编辑
                        </a>
                    </td>
                </tr>
            }


        </table>
    </div><!-- /.box-body -->

    <div class="box-footer clearfix">
        @Html.Pager(Model, new PagerOptions() { AutoHide = true, ContainerTagName = "ul", PagerItemWrapperFormatString = "<li>{0}</li>", CurrentPagerItemWrapperFormatString = "<li class='paged'><a  href='javascript:void(0);'>{0}</a></li>", PrevPageText = "«", NextPageText = "»", ShowFirstLast = false })
    </div>
</div><!-- /.box -->