@using Plain.Web
@using Framework.Web.Controls;
@using Framework.Web;
@{
    ViewBag.Title = "编辑";

    Layout = Url.Content("~/Views/Shared/_LayoutEdit.cshtml");
}
@model Plain.Model.Models.Model.Basic_UserInfo
 
@section PageSpecificCssIncludes{
    <link href='@Url.StaticFile("~/Content/Metronic/media/css/datepicker.css")' rel="stylesheet" />
}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>真实姓名</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.RealName, new {@class = "m-wrap small"})
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.RealName)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>性别</label>
                <div class="controls">
                    @Html.DropDownListFor(x => x.Sex, ViewData["Sex"] as IEnumerable<SelectListItem>, new {@class = "m-wrap  small"})
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 生日</label>
                <div class="controls">
                    <div class="input-append date form_datetime">

                        @Html.TextBoxFor(x => x.BirthDay, new {@class = "m-wrap small datepicker", id = "txtBirthDay"})
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>

                    </div>

                    <span class="help-inline">@Html.ValidationMessageFor(m => m.BirthDay)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 邮箱</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.UserEmail, new {@class = "m-wrap small"})
                    <a class="btn mini purple thickbox" title='编辑' href="@Url.Action("Edit", new { id = Model.Id})?TB_iframe=true&height=450&width=600">
                        <i class="icon-edit"></i>
                        编辑
                    </a>

                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 手机号</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.MobilePhone, new {@class = "m-wrap  small"})

                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> QQ</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.QQ, new {@class = "m-wrap  small"})
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 微信</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Weixin, new {@class = "m-wrap  small"})
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 地址</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Addr, new {@class = "m-wrap  small"})
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>是否可用/激活</label>
                <div class="controls">
                    @Html.DropDownListFor(x => x.UserStaus, ViewData["UserStatus"] as IEnumerable<SelectListItem>, new {@class = "m-wrap  small"})
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 其它信息</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.OtherInfo, new {@class = "m-wrap"})
                </div>
            </div>

        </div>
    </div>
}


@section PageSpecificJavascriptIncludes{
    <script src='@Url.StaticFile("~/Content/Metronic/media/js/bootstrap-datepicker.js")'></script>
    <script type="text/javascript">
        $(function () {
            $("#txtBirthDay").datepicker({
                format: "yyyy-mm-dd"

            });
        });
    </script>
}
