@using Plain.Web
@using Framework.Utility.Extention
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@AdminCacheContext.Current.AdminWebSetting.SystemSettingConfig.WebSiteTitle</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href='@Url.StaticFile("~/Content/bootstrap/css/bootstrap.min.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/Metric/metro.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/bootstrap/css/bootstrap-responsive.min.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/plugins/font-awesome/css/font-awesome.min.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/metric/style.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/metric/style_responsive.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/metric/style_light.css")' id="style_color" rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/plugins/data-tables/DT_bootstrap.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/plugins/fancybox/source/jquery.fancybox.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/plugins/uniform/css/uniform.default.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css")' rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/Thickbox/jquery.thickbox.css")' rel="stylesheet" />
    @*<link href="~/Content/Metronic/media/css/style-metro.css" rel="stylesheet" />*@
    <link href="~/Content/plugins/bootstrap-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet" />
    <link href='@Url.StaticFile("~/Content/Metric/admin.main.css")' rel="stylesheet" />
    @RenderSection("PageSpecificCssIncludes", required: false)

</head>
<body class="fixed-top">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        @Html.Partial("_Header")
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        @Html.Partial("_Menu")
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12" id="navigation">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        @Html.Partial("_Theme")
                        <!-- END BEGIN STYLE CUSTOMIZER -->
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <h3 class="page-title">
                            <span>标题</span>　<small>介绍</small>
                        </h3>
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <span>首页</span>
                                <i class="icon-angle-right"></i>
                            </li>
                            <li>
                                <span>菜单组</span>
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><span>菜单</span></li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>

                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                @RenderBody()
                <!-- END PAGE CONTENT-->

            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    @Html.Partial("_Footer")
    <!-- END FOOTER -->

    <input type="hidden" id="staticRootUrl" value='@Url.StaticFile("~/Content")' />
</body>
</html>

<script src='@Url.StaticFile("~/Content/plugins/jQuery/jQuery-2.1.4.min.js")'></script>
<script src="~/Scripts/admin.utility.js"></script>
<script src='@Url.StaticFile("~/Content/plugins/jQuery/jquery-migrate-1.2.1.min.js")'></script>
<script src='@Url.StaticFile("~/Content/plugins/breakpoints/breakpoints.js")'></script>
<script src='@Url.StaticFile("~/Content/bootstrap/js/bootstrap.js")'></script>
<script src='@Url.StaticFile("~/Scripts/jquery.blockui.js")'></script>
<script src='@Url.StaticFile("~/Scripts/jquery.cookie.js")'></script>
<script src='@Url.StaticFile("~/Scripts/excanvas.js")'></script>
<script src='@Url.StaticFile("~/Scripts/respond.js")'></script>
<script src='@Url.StaticFile("~/Content/plugins/uniform/jquery.uniform.min.js")'></script>
<script src='@Url.StaticFile("~/Content/plugins/data-tables/jquery.dataTables.js")'></script>
<script src='@Url.StaticFile("~/Content/plugins/data-tables/DT_bootstrap.js")'></script>
<script src='@Url.StaticFile("~/Scripts/jquery.pulsate.min.js")'></script>
<script src='@Url.StaticFile("~/Content/Thickbox/jquery.thickbox.js")'></script>
<script src='@Url.StaticFile("~/Content/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")'></script>
<script src='@Url.StaticFile("~/Scripts/jquery.numeric.js")'></script>

<script src="~/Content/plugins/bootstrap-dialog/dist/js/bootstrap-dialog.js"></script>
<script src='@Url.StaticFile("~/Scripts/app.js")' type="text/javascript" charset="utf-8"></script>
<script src='@Url.StaticFile("~/Scripts/admin.main.js")'></script>
<script type="text/javascript">

    jQuery(document).ready(function () {

        App.init(); // initlayout and core plugins
        var getOnlinePerson = function () {

            $.post('@Url.Action("GetOnlinePerson", "Login",new { Area="Auth"})', { onlineCount: $("#spnOnline").html() || 0 }, function (res) {

                if (!!Number(res) && Number(res) !== 0) {
                    $("#spnOnline").html(res);
                }
                //getOnlinePerson();
            });
        }
        getOnlinePerson();
    });

    //App.blockUI($("body"),"");
</script>


@RenderSection("PageSpecificJavascriptIncludes", required: false)