
@using Framework.Extention
@model Plain.Model.Models.Basic_Register

@{
 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.StaticFile("/Content/css/main.css")" />
    <link rel="stylesheet" href="@Url.StaticFile("/Content/css/register.css")" />
    <link rel="stylesheet" href="@Url.StaticFile("/Content/css/font-awesome.min.css")" />
    @RenderSection("PageSpecificStyleSheetIncludes", required: false)
</head>
<body class="bg">
    <div class="bg">
        <div class="header">

        </div>

        <div class="registerBox center">
            <div class="webInfo">@ViewBag.PageInfo</div>
            <ul class="r_tab">
                <li>@ViewBag.TabInfo</li>
            </ul>
            <div class="register clear">
                @RenderBody()
            </div>
        </div>
        <div class="flex limitfooter"></div>
    </div>
</body>
</html>
<script type="text/javascript" src="@Url.StaticFile("/Scripts/jquery-1.10.2.min.js")"></script>
<script src='@Url.StaticFile("~/Scripts/jquery.validate.min.js")'></script>
<script src='@Url.StaticFile("~/Scripts/jquery.validate.unobtrusive.js")'></script>

@RenderSection("PageSpecificJavascriptIncludes", required: false)
