@using Plain.Dto
@using Plain.Web

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
         
            <img src="~/Content/Plain/img/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>@AdminUserContext.Current.LoginInfo.LoginNickName</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">功能区</li>
        @foreach (var menu in AdminCacheContext.Current.MenuItems[MenuType.Group])
        {
            var itemMenu = AdminCacheContext.Current.MenuItems[MenuType.Item, menu.Id];
            if (itemMenu != null && itemMenu.Count > 0)
            {
                <li class="treeview">
                    <a href="@menu.MenuUrl">
                        <i class="fa fa-dashboard"></i> <span>@menu.MenuName</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @foreach (var m in itemMenu)
                        {
                            <li><a href="@m.MenuUrl"><i class="fa fa-circle-o"></i> @m.MenuName</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a href="@menu.MenuUrl">
                        <i class="fa fa-calendar"></i> <span>@menu.MenuName</span>
                        <small class="label pull-right bg-red">0</small>
                    </a>
                </li>
            }


        }

    </ul>
</section>
