@using Plain.Dto
@using Plain.Web
@using Framework.Web


<div class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul>
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"><h3 style="margin-left:-160px; line-height:23px;  color:#666; ">功能菜单</h3></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li>
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search..." />
                    <input type="button" class="submit" value="" />
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start ">
            <a href="#">
                <i class="icon-home"></i>
                <span class="title">管理首页</span>
            </a>
        </li>
        @foreach (var menu in AdminCacheContext.Current.MenuItems[((int)MenuType.Group).ToString()])
        {

            var itemMenu = AdminCacheContext.Current.MenuItems[((int)MenuType.Item).ToString(), menu.Id];
            if (itemMenu != null && itemMenu.Count > 0)
            {
                <li class="has-sub">
                    <a href="javascript:void(0);" data-role="1">

                        <i class="@menu.MenuIcon"></i>
                        <span class="title">@menu.MenuName</span>
                        <span class='arrow'></span>
                    </a>
                    <ul class="sub">
                        @foreach (var m in itemMenu)
                        {
                            <li>
                                <a href="@m.MenuUrl">
                                    <i class="@m.MenuIcon"></i>
                                    &nbsp;@m.MenuName
                                </a>
                            </li>
                        }
                    </ul>

                </li>
            }
            else
            {
                <li>
                    <a href="@menu.MenuUrl">
                        <i class="@menu.MenuIcon"></i>
                        <span>@menu.MenuName</span>


                    </a>
                </li>
            }



        }


    </ul>

</div>

