@using Plain.Web
@model Plain.Model.Models.Model.Basic_Article

@{
    ViewBag.Title = "title";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<div class="article center">
    <h1>@Model.Title</h1>
    <div class="source">
        时间：
        &nbsp;@Model.CreateTime &nbsp;&nbsp;来源：@Model.Source &nbsp;
        <a href="#" target="_blank">我来投稿</a>&nbsp;
        <a href="#SOHUCS">我要评论</a>

        <div style="position:absolute;right:190px;top:0px;width:145px;">
            <div class="bdsharebuttonbox bdshare-button-style0-16">
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                <a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
            </div>
            <script>
                window._bd_share_config = {
                    "common": {
                        "bdSnsKey": {},
                        "bdText": "",
                        "bdMini": "2",
                        "bdMiniList": false,
                        "bdPic": "",
                        "bdStyle": "0",
                        "bdSize": "16"
                    },
                    "share": {}
                };
                with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
            </script>
        </div>

    </div>
    <div class="articleContent">

        @Html.Raw(Model.Content)
        @*<p style="text-align: center;font-weight: bold;font-size: 14px;padding: 10px 0 15px">XXXXXXX<span style="color:red;">XXXX</span>微信二维码，定期抽<span style="color:red;">大奖</span>。</p>
            <div style="text-align: center;padding-bottom: 5px;"><img src="img/weixin.png" alt=""></div>*@
        <p style="font-size:14px;font-weight:bold;font-style:italic;">【版权与免责声明】如发现内容存在版权问题，烦请提供相关信息发邮件至xxxxxx@xxx.com，我们将及时沟通与处理。本站内容除非来源注明xxxx，否则均为网友转载，涉及言论、版权与本站无关。</p>

    </div>
</div>
<div class="extentionBox center">
    <div class="f_left">
        <h1>相关推荐</h1>
        <ul>
            @foreach (var m in AdminCacheContext.Current.ArticleItems["A3021"])
            {
                <li>
                    <a href='@Url.Action("ArticleView", new {id = m.Id})' target='_blank'>@(m.Sort + "、" + m.Title)</a>
                </li>
            }




        </ul>
    </div>
    <div class="f_left">
        <h1>热点推荐</h1>
        <ul>
            @foreach (var m in AdminCacheContext.Current.ArticleItems["A3022"])
            {
                <li>
                    <a href='@Url.Action("ArticleView", new {id = m.Id})' target='_blank'>@(m.Sort + "、" + m.Title)</a>
                </li>
            }


        </ul>
    </div>
    <div class="f_left">
        <h1>其它推荐</h1>
        <ul>
            @foreach (var m in AdminCacheContext.Current.ArticleItems["A3023"])
            {
                <li>
                    <a href='@Url.Action("ArticleView", new {id = m.Id})' target='_blank'>@(m.Sort + "、" + m.Title)</a>
                </li>
            }


        </ul>
    </div>
</div>
<div class="center picinfoBox clear">


    <div class="picinfoTilte">
        热点文章
        <div class="page f_right">
            <ul id="page">
                <li class="active">
                    <a href="javascript:void(0)" data-value="1">1</a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-value="2">2</a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-value="3">3</a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-value="4">4</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="picinfoContent" id="pageContent">
        <ul></ul>
    </div>



</div>

<div class="discussBox center" ms-controller="commit">
    <div class="load" style="display: none" id="load"></div>
    <div class="noneDiscuss   clear" ms-if="commitList.length===0">还没有评论，快来抢沙发吧！</div>
    <div ms-if="commitList.length>0">
        <div class="discuss   clear">
            <ul class="f_left discussNav">
                <li>评论</li>
            </ul>
            <ul class="f_left line"></ul>
        </div>
        <div class="clear discussList  ">
            <h1>最新评论</h1>
            <ul>
                <li class="discussItem clear" ms-for="el in commitList">
                    <div class="discussContent">
                        <div class="user f_left">
                            <img ms-attr="{src:'el.userImg'}" />
                        </div>
                    </div>
                    <div class="userinfo">
                        <ul>
                            <li>
                                <a href="#">{{el.CommitUserName}}</a><em>[河南省郑州市网友]</em>
                            </li>
                            <li class="discussText">{{el.Content}}</li>
                        </ul>
                    </div>
                    <div class="discussOperate f_right  ">

                        <span><a href="#">回复</a></span>
                        <span><a href="#">举报</a></span>

                    </div>
                    <div class="clear"></div>
                </li>



            </ul>
        </div>
    </div>


</div>
<div class="commitBox center">
    <span class="login f_right"><a href="#">登录</a></span>
    <span class="login f_right"><a href="#">注册</a></span>
    <div class="commit clear">
        <textarea placeholder="来说两句吧..." id="txtCommit"></textarea>
    </div>
    <button class="f_right btnSubmit " id="btnCommit">评论</button>
</div>
<div style="display: none">
    <input type="hidden" id="txtArticleId" value="@Model.Id" />
    <input type="hidden" id="txtUrl" value="@Url.Action("GetCommit")" />
</div>
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $(function () {
            $("#page li").click(function () {
                $(this).addClass("active").siblings().removeClass("active");
                var key = "A303" + $(this).find("a").data("value");
                $.get('@Url.Action("Page")', { key: key }, function (res) {
                    $("#pageContent ul").html(res);
                });
            });
            $.get('@Url.Action("Page")', { key: "A3031" }, function (res) {
                $("#pageContent ul").html(res);
            });
            view.init();
            @*$.post('@Url.Action("GetCommit")', {}, function (res) {

            });*@

        });
    </script>
}