@using Plain.Model.Models
@using Plain.Model.Models.Model
@using Plain.Web
@using Framework.Web
 @using Framework.Utility.Extention
@{
    Layout = null;
}

@foreach (Basic_Article m in AdminCacheContext.Current.ArticleItems[ViewBag.key])
            {
    <li>
        <div>
            <a href='@Url.Action("ArticleView", new {id = m.Id})' target='_blank'>
                <img src="@m.SubTitle" alt="@m.Title" />
            </a>
        </div>
        <a href='@Url.Action("ArticleView", new {id = m.Id})' target='_blank'>@m.Title.CutString(12)</a>
    </li>

}
